.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 40px;
    .card {
        padding: 35px 20px;
        background: #F9F8F8;
        margin: 10px;
        width: calc(100% / 3 - 20px);
        &__sub-title {
            display: inline-block;
            background: $accent;
            border-radius: 10px;
            font-size: 15px;
            color: #fff;
            padding: 5px 20px;
            font-family: 'Open Sans', sans-serif;
        }

        &__title {
            font-size: 22px;
            color: $accent;

        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $transparent;
            padding: 10px 0;
        }
    }
}