.sub-title {
    font-family: Yellowtail;
    font-size: 36px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.36000001430511475px;
    color: #7EB693;

    &--center {
        text-align: center;
    }
}